@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
}


a {
  color: #2199df;
  text-decoration: unset;
}

ul {
  margin-left: 1.5rem;
  list-style: none;
}

button,
input[type="submit"] {
  border: none;
  background: none;
  color: unset;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li {
  margin-top: 1em;
  margin-bottom: 1em;
}

/* general */

body {
  font-family: "Roboto", sans-serif;

}
.main-container{
  min-height: 100vh;  
  padding-bottom: 70px;
}


.container {
  margin: 0 auto;
  max-width: 900px;
}




